@{
    Layout = null;
}

<div class="col-12 col-md-6 col-lg-4 mb-30">
    <div class="footer-widget">
        <div class="border-bottom cbb1 mb-25">
            <div class="section-title pb-20">
                <h2 class="title text-dark text-uppercase">Newsletter</h2>
            </div>
        </div>
        <p class="text mb-20">
            You may unsubscribe at any moment. For that purpose, please find our
            contact info in the legal notice.
        </p>
        <div class="nletter-form mb-35">
            <form class="form-inline position-relative"
                  id="contact-form"  method="post">
                <input class="form-control form-message" id="inputEmail" type="email" placeholder="Your email address">
                <button class="btn nletter-btn text-capitalize" id="subscribeBtn">Sign up</button>
            </form>
        </div>

        <div class="store d-flex">
            <a href="https://www.apple.com/" class="d-inline-block mr-3">
                <img src="assets/img/icon/apple.png" alt="apple icon">
            </a>
            <a href="https://play.google.com/store/" class="d-inline-block">
                <img src="assets/img/icon/play.png" alt="apple icon">
            </a>
        </div>
    </div>
</div>
