<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Freedi Vugar Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="~/admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admin/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/admin/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/admin/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo" href="/Home/Index"><img src="~/assets/img/logo/logo-dark.jpg" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="/Home/Index"><img src="~/admin/images/logo-mini.svg" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-sort-variant"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-4 w-100">
                    <li class="nav-item nav-search d-none d-lg-block w-100">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                            </div>
                            
                            <form class="form-inline position-relative">
                                <input class="form-control theme3" id="input-searchAdmin"
                                       placeholder="Enter your search key ..." style="width:400px">
                                <button class="btn bg-white search-btn position-left" type="submit">
                                    <i class="icon-magnifier"></i>
                                </button>
                            </form>
                            <div class="row" id="searchListAdmin" style="position:absolute;top:50px;background-color:white;z-index:1000;width:400px"></div>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">

                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="~/admin/images/faces/face5.jpg" alt="profile" />
                            <span class="nav-profile-name">@User.Identity.Name</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">


                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                @if (User.IsInRole("Admin"))
                {
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
                            <span class="menu-title">Kateqoriya</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Brand" asp-action="Index">
                            <span class="menu-title">Brand</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">
                            <span class="menu-title">Məhsullar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Sale" asp-action="Index">
                            <span class="menu-title">Sifarişlər</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Sale" asp-action="FinishedSales">
                            <span class="menu-title">Satış olanlar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Message" asp-action="Index">
                            <span class="menu-title">Mesajlar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Subscription" asp-action="Index">
                            <span class="menu-title">Emailler</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Slider" asp-action="Index">
                            <span class="menu-title">Slider</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Banner" asp-action="Index">
                            <span class="menu-title">Banner</span>
                        </a>
                    </li>

                </ul>
                }

            </nav>

            <!-- partial -->
            <div class="main-panel">

                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
<!-- plugins:js -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="~/admin/vendors/chart.js/Chart.min.js"></script>
    <script src="~/admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/admin/js/off-canvas.js"></script>
    <script src="~/admin/js/hoverable-collapse.js"></script>
    <script src="~/admin/js/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="~/admin/js/dashboard.js"></script>
    <script src="~/admin/js/data-table.js"></script>
    <script src="~/admin/js/jquery.dataTables.js"></script>
    <script src="~/admin/js/dataTables.bootstrap4.js"></script>
    <!-- End custom js for this page-->

    @RenderSection("Scripts", false)
    @RenderSection("Css", false)

</body>

</html>
