@model Brand

@{
    ViewBag.Title = "title";
    Layout = "_adminLayout";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Brand dəyiş</h4>
                <form class="forms-sample"  method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label asp-for="Image"></label>
                        <input asp-for="Image" class="form-control" accept="image/*">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Title">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-success mr-2">Deyis</button>

                </form>
            </div>
        </div>
    </div>
</div>
