@model LoginVm
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="breadcrumb-section theme1 bg-lighten2 pt-110 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center mb-15">
                    <h2 class="title text-dark text-capitalize">Login</h2>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- breadcrumb-section end -->
<!-- product tab start -->
<div class="my-account pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="title text-capitalize mb-30 pb-25"> Log in to your account</h3>
                <form class="log-in-form" method="post">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-md-3 col-form-label">Email</label>
                        <div class="col-md-6">
                            <input asp-for="Email" class="form-control" id="staticEmail">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-md-3 col-form-label">Password</label>
                        <div class="col-md-6">
                            <div class="input-group mb-2 mr-sm-2">
                                <input asp-for="Password" class="form-control" id="loginPassword">
                                    <button type="button" style="position: absolute;right: 0px;top: 0px;z-index: 1000"
                                            class="input-group-text  theme-btn--dark1 btn--md show-password" id="loginShowPasswordBtn">
                                        show
                                    </button>
                            </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group row pb-3 text-center">
                        <div class="col-md-6 offset-md-3">
                            <div class="login-form-links">
                                <a href="#" class="for-get">Forgot your password?</a>
                                <div class="sign-btn">
                                    <button type="submit" class="btn theme-btn--dark1 btn--md">Sign in</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row text-center mb-0">
                        <div class="col-12">
                            <div class="border-top">
                                <a asp-controller="Account" asp-action="Register" class="no-account">No account? Create one here</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script >
    var loginShowPasswordBtn = document.getElementById('loginShowPasswordBtn');
    let loginPassword=document.getElementById("loginPassword");
    
    loginShowPasswordBtn.addEventListener("click",function (){
        if(loginPassword.type!=='text'){
            loginPassword.type = 'text';
        }else{
            loginPassword.type='password';
        }
    
    })
    </script>
}

